body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hel{
  background-color: rebeccapurple;
}
.productss{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}
.card{
 width: 250px;
 padding: 26px;
 border-radius: 12px;
 background-color: antiquewhite;
}

.card img{
  width: 200px;
  height: 100px;
}

